<% if current_user.admin? %>
    <%= link_to "Create Topic", new_topic_path, class: "btn btn-primary" %>
<% end %>

<h1 class="text-center">Topics</h1>

<table class="table table-bordered">
    <% @topics.each do |topic| %>
        <tr>
            <td>
                <%= link_to topic.name, topic_path(topic) %>
            </td>
        </tr>
    <% end %>
</table>