<table class="table table-bordered">
    <% @topics.each do |topic| %>
        <tr>
            <td>
                <%= link_to topic.name, topic_path(topic) %>
            </td>
        </tr>
    <% end %>
</table>