<table class="table table-bordered">
    <% @topics.each do |topic| %>
        <tr>
            <td>
                <h2><%= link_to topic.name, topic_path(topic) %></h2>
            </td>
        </tr>
    <% end %>
</table>