<%= link_to "New Post", new_post_path(topic_id: @topic.id), class: "btn btn-primary" %>
<h1 class="text-center"><%= @topic.name %></h1>
<ul class="list-group">
    <% @topic.posts.each do |post| %>
        <div class="mb-3">
            <%= render partial: "posts/card", locals: {post: post} %>
        </div>
    <% end %>
</ul>